<!DOCTYPE html>
<html ng-app="listaTelefonica">
    <head>
        <meta charset="utf-8" />
        <title>Lista Telefônica AngularJS</title>
        <script src="lib/angular-1.6.9/angular.min.js"></script>
        <link rel="stylesheet" type="text/css" href="lib/bootstrap-4.0.0/dist/css/bootstrap.min.css" />

        <!-- Estilo Inline Temporário-->
        <style media="screen">
            .jumbotron {
                width: 400px;
                text-align: center;
                margin-top: 20px;
                margin-left: auto;
                margin-right: auto;
            }
            .table {
                margin-top: 20px;
            }
            .form-control {
                margin-bottom: 5px;
            }
            .selecionado {
			    background-color: yellow;
		    }
            .negrito {
			    font-weight: bold;
		    }
        </style>

        <!-- Script Inline Temporário -->
        <script>
            angular.module("listaTelefonica", []);
            angular.module("listaTelefonica").controller("listaTelefonicaController", function ($scope) {

                $scope.titulo = "Lista Telefônica AngularJS";

                $scope.contatos = [
                    {nome: "Pedro", telefone: "99865-9865", operadora: {nome: "Oi", codigo: 14, categoria: "Celular"}},
                    {nome: "Ana", telefone: "98654-3246", operadora: {nome: "Vivo", codigo: 15, categoria: "Celular"}},
                    {nome: "Maria", telefone: "98974-2298", operadora: {nome: "Tim", codigo: 41, categoria: "Celular"}}
                ];

                $scope.operadoras = [
    				{nome: "Oi", codigo: 14, categoria: "Celular"},
    				{nome: "Vivo", codigo: 15, categoria: "Celular"},
    				{nome: "Tim", codigo: 41, categoria: "Celular"},
    				{nome: "GVT", codigo: 25, categoria: "Fixo"},
    				{nome: "Embratel", codigo: 21, categoria: "Fixo"}
		     	];

                $scope.adicionarContato = function (contato) {
                    $scope.contatos.push(angular.copy(contato));
                    delete $scope.contato;
                };
            });
        </script>
    </head>
    <body ng-controller="listaTelefonicaController">
        <div class="jumbotron">
            <h3 ng-bind="titulo"></h3>
            <table class="table">
                <tr>
                    <th></th>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Operadora</th>
                </tr>
                <tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos">
                    <td><input type="checkbox" ng-model="contato.selecionado"/></td>
                    <td ng-bind="contato.nome"></td>
                    <td ng-bind="contato.telefone"></td>
                    <td ng-bind="contato.operadora.nome"></td>
                </tr>
            </table>
            <hr />
            <input class="form-control" type="text" ng-model="contato.nome" placeholder="Nome" />
            <input class="form-control" type="text" ng-model="contato.telefone" placeholder="Telefone"/>
            <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras">
			    <option value="">Selecione uma Operadora:</option>
	    	</select>
            <button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="!contato.nome || !contato.telefone">Adicionar Contato</button>
        </div>
    </body>
</html>
