<!DOCTYPE html>
<html ng-app="listaTelefonica">
    <head>
        <meta charset="utf-8" />
        <title>Lista Telefônica AngularJS</title>
        <script src="lib/angular-1.6.9/angular.min.js"></script>
        <link rel="stylesheet" type="text/css" href="lib/bootstrap-4.0.0/dist/css/bootstrap.min.css" />

        <!-- Estilo Inline Temporário-->
        <style media="screen">
            .jumbotron {
                width: 400px;
                text-align: center;
                margin-top: 20px;
                margin-left: auto;
                margin-right: auto;
            }
            .table {
                margin-top: 20px;
            }
            .form-control {
                margin-bottom: 5px;
            }
        </style>

        <!-- Script Inline Temporário -->
        <script>
            angular.module("listaTelefonica", []);
            angular.module("listaTelefonica").controller("listaTelefonicaController", function ($scope) {
                $scope.titulo = "Lista Telefônica";
                $scope.contatos = [
                        {nome: "Pedro", telefone: "99865-9865"},
                        {nome: "Ana", telefone: "98654-3246"},
                        {nome: "Maria", telefone: "98974-2298"}
                ];
                $scope.adicionarContato = function (contato) {
                    $scope.contatos.push(angular.copy(contato));
                    delete $scope.contato;
                };

            });
        </script>
    </head>
    <body ng-controller="listaTelefonicaController">
        <div class="jumbotron">
            <h3 ng-bind="titulo"></h3>
            <table class="table table-striped">
                <tr>
                    <th>Nome</th>
                    <th>Telefone</th>
                </tr>
                <tr ng-repeat="contato in contatos">
                    <td ng-bind="contato.nome"></td>
                    <td ng-bind="contato.telefone"></td>
                </tr>
            </table>
            <hr />
            <input class="form-control" type="text" ng-model="contato.nome" placeholder="Nome" />
            <input class="form-control" type="text" ng-model="contato.telefone" placeholder="Telefone"/>
            <button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)">Adicionar Contato</button>
            {{ contato }}
        </div>
    </body>
</html>
