<!DOCTYPE html>
<html ng-app="listaTelefonica">
    <head>
        <meta charset="utf-8" />
        <title>Lista Telefônica AngularJS</title>
        <script src="lib/angular-1.6.9/angular.min.js"></script>
        <script src="lib/angular-1.6.9/i18n/angular-locale_pt-br.js"></script>
        <script src="lib/angular-1.6.9/angular-messages.min.js"></script>
        <link rel="stylesheet" type="text/css" href="lib/bootstrap-4.0.0/dist/css/bootstrap.min.css" />

        <!-- Estilo Inline Temporário-->
        <style media="screen">
            .jumbotron {
                margin-top: 20px;
                width: 900px;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
            }
            .table {
                margin-top: 20px;
            }
            .form-control {
                margin-bottom: 5px;
            }
            .selecionado {
                background-color: yellow;
            }
            .negrito {
                font-weight: bold;
            }
            hr {
                border-color: #999;
            }
        </style>

        <!-- Script Inline Temporário -->
        <script>
            angular.module("listaTelefonica", ["ngMessages"]);
            angular.module("listaTelefonica").controller("listaTelefonicaController", function ($scope, $filter) {

                $scope.titulo = "Lista Telefônica com AngularJS";

                $scope.contatos = [
                    {nome: $filter('uppercase')("Pedro"), telefone: "99865-9865", data: new Date(), cor: "blue", operadora: {nome: "Oi", codigo: 14, categoria: "Celular"}},
                    {nome: "Ana", telefone: "98654-3246", data: new Date(), cor: "yellow", operadora: {nome: "Vivo", codigo: 15, categoria: "Celular"}},
                    {nome: "Maria", telefone: "98974-2298", data: new Date(), cor: "red", operadora: {nome: "Tim", codigo: 41, categoria: "Celular"}},
                    {nome: "Tadeu", telefone: "98647-3913", data: new Date(), cor: "brown", operadora: {nome: "Oi", codigo: 14, categoria: "Celular"}},
                    {nome: "Yure", telefone: "98647-3913", data: new Date(), cor: "blue", operadora: {nome: "Oi", codigo: 14, categoria: "Celular"}}
                ];

                $scope.operadoras = [
                    {nome: "Oi", codigo: 14, categoria: "Celular", preco: 1},
                    {nome: "Vivo", codigo: 15, categoria: "Celular", preco: 3},
                    {nome: "Tim", codigo: 41, categoria: "Celular", preco: 2},
                    {nome: "GVT", codigo: 25, categoria: "Fixo", preco: 1},
                    {nome: "Embratel", codigo: 21, categoria: "Fixo", preco: 1}
                ];

                $scope.adicionarContato = function (contato) {
                    $scope.contatos.push(angular.copy(contato));
                    delete $scope.contato;
                    $scope.contatoForm.$setPristine();
                };

                $scope.apagarContatos = function(contatos) {
                    $scope.contatos = contatos.filter(function(contato) {
                        if (!contato.selecionado) return contato;
                    });
                };

                $scope.isContatoSelecionado = function(contatos) {
                    return contatos.some(function(contato) {
                        return contato.selecionado;
                    });
                };

                $scope.ordenarPor = function(campo) {
                    $scope.criterioOrdenacao = campo;
                    $scope.direcaoOrdenacao = !$scope.direcaoOrdenacao;
                };
            });
        </script>
    </head>
    <body ng-controller="listaTelefonicaController">
        <div class="jumbotron">
            <h3 ng-bind="titulo"></h3><br />
            <input class="form-control type="text" ng-model="criterioBusca" placeholder="O que você está buscando?" />
            <table ng-show="contatos.length > 0" class="table">
                <tr>
                    <th></th>
                    <th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
                    <th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
                    <th>Operadora</th>
                    <th>Cor</th>
                    <th>Data</th>
                </tr>
                <tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos | limitTo:4 | filter:criterioBusca | orderBy:criterioOrdenacao:direcaoOrdenacao">
                    <td><input type="checkbox" ng-model="contato.selecionado"/></td>
                    <td ng-bind="contato.nome"></td>
                    <td ng-bind="contato.telefone"></td>
                    <td ng-bind="contato.operadora.nome | lowercase"></td>
                    <td ng-bind="contato.data | date:'MMMM EEEE dd/MM/yyyy HH:mm'"></td>
                    <td><div style="width: 20px; height: 20px;" ng-style="{'background-color': contato.cor}"></div></td>
                </tr>
            </table>
            <hr />
            <form name="contatoForm">
                <small>*Campos Obrigatórios!</small>
                <input class="form-control" type="text" ng-model="contato.nome" name="nome" placeholder="*Nome" ng-required="true" ng-minlength="10" />
                <input class="form-control" type="text" ng-model="contato.telefone" name="telefone" placeholder="*Telefone xxxx-xxxx ou xxxxx-xxxx" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/" />
                <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome + '( ' + (operadora.preco | currency) + ' )' group by operadora.categoria for operadora in operadoras | orderBy:'nome'">
                    <option value="">Selecione uma Operadora:</option>
                </select>
            </form>

            <div ng-show="contatoForm.nome.$dirty" ng-messages="contatoForm.nome.$error">
                <div ng-message="required" class="alert alert-danger">
                    Por favor, preencha o campo nome!
                </div>
                <div ng-message="minlength" class="alert alert-danger">
                    O campo nome deve ter no mínimo 10 caracteres!
                </div>
            </div>

            <div ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty" class="alert alert-danger">
                Por favor, preencha o campo telefone!
            </div>
            <div ng-show="contatoForm.telefone.$error.pattern" class="alert alert-danger">
                O campo telefone deve ter o formato: xxxx-xxxx ou xxxxx-xxxx
            </div>
            <button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid">Adicionar Contato</button>
            <button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-if="isContatoSelecionado(contatos)">Apagar Contato</button>
        </div>
        <div ng-include="'footer.html'"></div>
    </body>
</html>
